= `Liebe/r DiensteinteilerIn, Das Orchesterb端ro hat den eingereichten Dienstplan f端r ${instrument} im ${orchestra} f端r die Woche ${period} mit folgender Begr端ndung abgelenht:
${reason} Hier geht es zum Dienstplan: ${link}`